table, tr {
    border: 2px solid black;
    border-collapse: collapse;
    border-color: gray;
}

body {
    padding: 35px;
    background-color: lightcyan;
    font-family: "Times New Roman", Times, serif;
    font-size: large;
    font-weight: 120;
}

caption {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: brown;
}

#div1 {
    margin: 10px 40px 50px;
    color: blue;
}

ul {
    list-style-type: square;
    color: black;
}